################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/menergia/.vs
/menergia/menergia.api/bin/Debug/net8.0
/menergia/menergia.api/obj
/menergia/menergia.base/bin/Debug/net8.0
/menergia/menergia.base/obj
